@model RoleTopMVC.ViewModels.DashboardViewModel

    <main class="flex geral">
        <div class="flex icon-2"><a asp-controller="Adm" asp-action="Index"><i class="back fas fa-backward fa-2x"></i></a></div>
        <div class="flex cima ">
            <h1>Historico Geral</h1>
        </div>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Data</th>
                        <th>Email CLiente</th>
                        <th>Serviços</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Pagamento</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var e in Model.Eventos)
                    {
                        <tr>
                            <td>@e.NomeEvento</td>
                            <td>@e.DiaDoEvento</td>
                            <td>@e.Cliente.Email</td>
                            <td>@e.Servicos.Nome</td>
                            <td>@e.TipoEvento</td>
                            <td>@e.Quantidade</td>
                            @if (e.Pago)
                            {
                                <td class="aprovado">Pagou</td>
                            }
                            else
                            {
                                <td class="pendente">Pendente</td>
                            }
                            @if(e.Status == 0)
                            {
                                <td class="flex pendente">Pendente</td>
                            }
                            @if(e.Status == 1)
                            {
                                <td class="flex aprovado">Aprovado</td>
                            }
                            @if(e.Status == 2)
                            {
                                <td class="flex reprovado">Reprovado</td>
                            }
                            @if (e.Status == 3)
                            {
                                <td class="flex apagado">Apagado</td>
                            }
                        </tr>                    
                    }
                </tbody>
            </table>
        </section>
    </main>