@model RoleTopMVC.ViewModels.DashboardViewModel
<main class="flex geral">
        <div class="flex icon-2"><a asp-controller="Adm" asp-action="Index"><i class="back fas fa-backward fa-2x"></i></a></div>
        <div class="flex cima ">
            <h1>DashBoard</h1>
        </div>
        <section class="flex central-container">

            <div class="flex event-container">
                <a asp-controller="Adm" asp-action="Pendentes">
                    <div class="flex pend-container">
                        <img src="../img/icones/Adm/copy.png" alt="">
                    </div>
                </a>
                <h2>Pendentes</h2>
                <br>
                <p>@Model.EventosPendentes
                </p>
            </div>
            <div class="flex event-container">
                <a asp-controller="Adm" asp-action="Aprovados">
                    <div class="flex check-container">
                        <img src="../img/icones/Adm/check_box_black_192x192.png" alt="">
                    </div>
                </a>
                <h2>Aprovados</h2>
                <br>
                <p>@Model.EventosAprovados
                </p>
            </div>
            <div class="flex event-container">
                <a asp-controller="Adm" asp-action="Recusados">
                    <div class="flex black-container">
                        <img src="../img/icones/Adm/recuse.png" alt="">
                    </div>
                </a>
                <h2>Recusados</h2>
                <br>
                <p>@Model.EventosReprovados
                </p>
            </div>
        </section>
        <section>

            <table>
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Data</th>
                        <th>Email CLiente</th>
                        <th>Serviços</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Pagamento</th>
                        <th colspan="2">Readimitir</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var e in Model.Eventos)
                    {
                        if ((e.Status == 2))
                        {
                            <tr>
                                <td>@e.NomeEvento</td>
                                <td>@e.DiaDoEvento</td>
                                <td>@e.Cliente.Email</td>
                                <td>@e.Servicos.Nome</td>
                                <td>@e.TipoEvento</td>
                                <td>@e.Quantidade</td>
                                @if (e.Pago)
                                {
                                    <td class="aprovado">Pagou</td>
                                }
                                else
                                {
                                    <td class="pendente">Pendente</td>
                                }
                                <td class="read"><a href='@Url.Action("Readimitir", "Adm", new {id = @e.Id})'><i class="fas fa-reply"></i></a></td>
                            </tr>
                            
                        }
                    }
                </tbody>
            </table>
        </section>
    </main>