@model RoleTopMVC.ViewModels.MensagemViewModel
<main>
    <section class="flex conf">
        <img src="~/img/icones/Erro_cadastro.png">
        <br>
        <p> @Model.Mensagem! <br> Tente Novamente!</p>
    @if("Cadastro".Equals(Model.NomeView)){
        <a href='@Url.Action("Index", "Cadastro")'><button class="margin">Voltar</button></a>
    }
    @if("Login".Equals(Model.NomeView)){
        <a href='@Url.Action("Login", "Cliente")'><button class="margin">Voltar</button></a>
    }
    @if("Usuario".Equals(Model.NomeView)){
        <a href='@Url.Action("Index", "Usuario")'><button class="margin">Voltar</button></a>
    }
    @if("Adm".Equals(Model.NomeView))
    {
        <a href='@Url.Action("Index", "Adm")'><button class="margin">Voltar</button></a>
    }
    </section>

</main>