@{
    var nomeView = (string) ViewData["NomeView"];
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RolêTop</title>
    <link href="~/img/logo_roletop.png" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Itim|Limelight|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    @if("Home".Equals(nomeView) || ("Login".Equals(nomeView)) || ("Cadastro".Equals(nomeView)))
    {<link rel="stylesheet" type="text/css" href="~/css/Home.css">}
    @if(("Login".Equals(nomeView)) || ("Cadastro".Equals(nomeView)))
    {<link rel="stylesheet" type="text/css" href="~/css/login_cadastro.css">}
    @if("User_Home".Equals(nomeView))
    {<link rel="stylesheet" type="text/css" href="~/css/User_home.css">}
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>

</head>

<body>
    

    <header>
    @if(("Login".Equals(nomeView)) || ("Cadastro".Equals(nomeView)) || ("Home".Equals(nomeView)))
    {
        <nav>
            <div class="section-container">

                <ul>
                    <li id="bt-mobile-menu">
                        <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                            <i class="fa fa-bars fa-2x "></i>
                        </a>
                    </li>
                    <li class="bt-common-menu">
                        <a asp-controller="Home" asp-action="Index"><img class="logo" src="../img/logo_roletop.png" alt="logo Rolêtop" title="Logo RolêTop"></a>
                    </li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#Eventos'>Eventos</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#servicos'>Serviços</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#Infraestrutura-Galeria'>Infraestrutura/Galeria</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#orçamento'>Orçamento</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#calendario'>Caléndario</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#FAQ'>FAQ</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#Contatos'>Contatos</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href='@Url.Action("index", "Home")#Localizacao'>Localização</a></li>
                    <li><a id="bt-login" class="sob" asp-controller="Cliente" asp-action="Login"><i class="fas fa-user fa-5x"></i><br> Login/Cadastro </a></li>
                </ul>

            </div>
        </nav>
    }
    @if("Usuario".Equals(nomeView)){


    }
    @if("User_Home".Equals(nomeView)){

    <div class="flex container-header">
    <div id="logo">
        <a asp-controller="Home" asp-action="Index"><img src="~/img/logo_roletop.png" title="Logo RolêTop"></a>
    </div>
    <div class="flex user">
        <p>Daniel da silva neto</p>
        <img src="~/img/icones/PNGs-Prontos/usuario.png" >
    </div>
    </div>
    }
    </header>

    @RenderBody()
    <footer>
        <div class="flex footer-container">
            <div class="flex footer-logo">
            <img  src="../img/logo_roletop.png" alt="Logo do RoleTop">
            </div>
            <div class=" flex social">
                <div class="flex foot">
                    <p>Facebook:</p>
                    <br>
                    <i class="social-icon fab fa-facebook-square fa-2x"></i>
                </div>
                <div class="flex foot">
                    <p>Instagram:</p>
                    <br>
                    <i class="social-icon fab fa-instagram fa-2x"></i>
                </div>
                <div class="flex foot">
                    <p>Acesso a Deficiente:</p>
                    <i class="social-icon fab fa-accessible-icon fa-2x"></i>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");

            ul.classList.toggle("mobile-mode");

            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-hand-middle-finger");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-hand-middle-finger");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }

            for (var button of commonButtons) {
                button.classList.toggle("active");
            }

        }
    </script>
    </body>
    </html>